.header {
    height: 100px;
    position: relative;
}

.gallery {
    margin: 3px;
    float: left;
    width: 350px;
}

.gallery img {
    width: 100%;
    height: 100%;
}

.load-button {
    position: relative;
    top: 50%;
    left: 50%;
}